<% @results.each do |result| %>
    <div class="result draggable" data-id="<%= result.id %>">
        <%= "#{result.department_abbr} #{result.number}" %><br />
        <%= result.section %>
    </div>
    <script>
        Bluebook.Search.courses.push(<%= to_JSON(result) %>);
    </script>
<% end %>

<% @friends.each do |friend| %>
    <%= image_tag "https://graph.facebook.com/#{friend[:user].facebook_id}/picture" %>
    <%= friend[:user].name %>
<% end %>
