<div class="courseResults">
    <% if @results.empty? %>
        <div class="noResults">
            No courses matched your search
        </div>
    <% end %>

    <% @results.each do |result| %>
        <div class="courseResult result round drop_shadow draggable" 
             data-id="<%= result.id %>">

            <span class="number">
                <%= "#{result.department_abbr} #{result.number}" %>
                (<%= result.section %>): 
            </span>
            <%= result.title %><%= result.starred ? "*" : "" %>,
            <span class="professor"><%= result.professor %></span>

            <br />

            <div class="addendum">
                <%= result.time_string %>
                <%= result.final_exam_time ? "Final exam" : "No final exam" %>
                <%= result.reading_period ? ", Meets during reading period" : "" %>
                <br />

                <% skills = Array.new %>
                <% result.L1 ? skills << "L1" : "" %>
                <% result.L2 ? skills << "L2" : "" %>
                <% result.L3 ? skills << "L3" : "" %>
                <% result.L4 ? skills << "L4" : "" %>
                <% result.L5 ? skills << "L5" : "" %>
                <% result.QR ? skills << "QR" : "" %>
                <% result.WR ? skills << "WR" : "" %>
                <% result.Hu ? skills << "Hu" : "" %>
                <% result.Sc ? skills << "Sc" : "" %>
                <% result.So ? skills << "So" : "" %>
                <%= skills.join(", ") %>
            </div>

            <div class="description">
                <%= truncate result.description, :length => 250 %>
            </div>
        </div>
        
        <script>
            Bluebook.Search.courses.push(<%= to_JSON(result) %>);
        </script>
    <% end %>
</div>

<div class="friendResults">
    <div class="noResults">
        None of your friends matched your search
    </div>

    <% @friends.each do |friend| %>
        <div class="friendResult result round drop_shadow" 
             data-fb-id="<%= friend[:user].facebook_id %>">
            <div class="image grid_2">
                <%= image_tag "https://graph.facebook.com/#{
                      friend[:user].facebook_id}/picture" %>
            </div>
            <div class="grid_4 omega" style="width: 185px;">
                <span class="name">
                    <%= friend[:user].name %>
                </span><br />
                <%= raw((friend[:taking].map{ |result| 
                      "<span style='color: #00B945'>
                          #{result.department_abbr} #{result.number}
                       </span>"} +
                    friend[:shopping].map{ |result| 
                      "<span style='color: #FF9700'>
                          #{result.department_abbr} #{result.number}
                       </span>"} + 
                    friend[:avoiding].map{ |result| 
                      "<span style='color: red'>
                          #{result.department_abbr} #{result.number}
                       </span>"}).join(", ")) %>
             </div>
        </div>
    <% end %>
</div>
