<%= render 'search/facebook_scripts' %>

<div class="header bgThemeGradient white size24">
        The Friendly Bluebook
        <span class="gray size15"> Plan Your Schedule with Friends</span>
</div>

<div class="searchPage">
    <div class="searchControls">
        <div class="buckets">
            <div id="tooltipTaking" class="tooltip" style="left:14px"> 
                I'm Taking This! 
            </div>
            <div id="countTaking" class="count" style="left: 21px">0</div>
            <%= image_tag "search/buckets/taking.png", :class => "droppable",
                  :id => "takingTarget",
                  :onmouseover => "$('#tooltipTaking').show();",
                  :onmouseout =>  "$('#tooltipTaking').hide();" %>
                  
            <div id="tooltipShopping" class="tooltip" style="left:96px"> 
                Not Sure... Gonna Shop This 
            </div>
            <div id="countShopping" class="count" style="left: 135px">0</div>
            <%= image_tag "search/buckets/shopping.png", :class => "droppable",
                  :id => "shoppingTarget",
                  :onmouseover => "$('#tooltipShopping').show();",
                  :onmouseout =>  "$('#tooltipShopping').hide();" %>
                  
            <div id="tooltipAvoiding" class="tooltip" style="left:220px"> 
                Definitely Avoiding This 
            </div>
            <div id="countAvoiding" class="count" style="left: 245px">0</div>
            <%= image_tag "search/buckets/avoiding.png", :class => "droppable",
                  :id => "avoidingTarget",
                  :onmouseover => "$('#tooltipAvoiding').show();",
                  :onmouseout =>  "$('#tooltipAvoiding').hide();" %>
        </div>

        <div class="searchContainer round drop_shadow">
            <%= render "search/form" %>
        </div>
    </div>

    <div class="searchRendering">
        <div class="mapType">
            <a href="" class="silverButton friendButton activeButton"
               style="border-right: none;" 
               onclick="return Bluebook.Search.showPeopleMap()">
                Friend View
            </a>
            <a href="" class="silverButton courseButton" 
               onclick="return Bluebook.Search.showCourseMap()">
                Class View
            </a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
        <div class="results">
            <%= render 'search/results' %>
        </div>
    </div>
</div>
