<div class="header bgThemeGradient white size24">
        The Friendly Bluebook
        <span class="gray size15"> Plan Your Schedule with Friends</span>
</div>

<div class="searchPage">
    <div class="searchControls">
        <%= render "search/buckets" %>
        <script><%= render "search/user_buckets.js.erb" %></script>

        <div class="searchContainer round drop_shadow">
            <%= render "search/form" %>
        </div>
    </div>

    <div class="searchRendering">
        <div class="mapType">
            <a href="" class="silverButton friendButton activeButton"
               style="border-right: none;" 
               onclick="return Bluebook.Search.showPeopleMap()">
                Friend View
            </a>
            <a href="" class="silverButton courseButton" 
               onclick="return Bluebook.Search.showCourseMap()">
                Class View
            </a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
        <div class="results">
            <div class="loadingResults">
                Loading, please do not reload the page...
                <%= image_tag "search/loading.gif" %>
            </div>
            <%= render 'search/results' %>
        </div>
    </div>
</div>
