<div class="header bgThemeGradient white size24">
    <%= link_to "The Friendly Bluebook", root_path, :class => "white",
          :style => "text-decoration: none" %>
    <span class="gray size15"> Plan Your Schedule with Friends</span>
</div>

<div class="searchPage">
    <div class="searchControls">
        <%= render "search/buckets/containers.html.erb" %>
        <script><%= render "search/buckets/scripts.js.erb" %></script>

        <div class="searchContainer round drop_shadow">
            <%= render "search/form/form" %>
        </div>
    </div>

    <div class="searchRendering">
        <% if not params[:query] %>
            <%= render 'search/welcome/default' %>
            <%= render 'search/results/friends', :preventNoResults => true %>
        <% else %>
            <div class="mapType">
                <a href="" class="silverButton friendButton activeButton"
                   style="border-right: none;" 
                   onclick="return Bluebook.Search.showPeopleMap()">
                    My Friends
                </a>
                <a href="" class="silverButton courseButton" 
                   onclick="return Bluebook.Search.showCourseMap()">
                    Courses
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            
            <div class="results">
                <div class="loadingResults">
                    Loading, please do not reload the page...<br />
                    <%= image_tag "search/loading.gif" %>
                </div>
                <%= render 'search/results/courses' %>
                <%= render 'search/results/friends', :preventNoResults => nil %>
                <script><%= render 'search/results/scripts.js.erb' %></script>
            </div>
        <% end %>
    </div>
</div>
