<div id="flyout<%= course[:id] %>" class="flyout round drop_shadow">
    <div class="bold">
        <%= course[:listing] %>: <%= course[:title] %>
    </div>
    <div class="italic">
        <%= course[:time] %> <%= course[:room] %>
    </div>
</div>
