<%= render "facebook/scripts", :update => true %>
<%= render "layouts/header", :subtitle => "Your Schedule Worksheet" %>
<div class="calendarPage">
    <div class="parameters">
        <%= form_tag ical_path do -%>
            <div class="options">
                Show Me Courses I Am:
                <input type="checkbox" onchange="$('.taking').toggle();
                    Bluebook.Calendar.loadCourses()"
                    name = "buckets[]" value="taking" checked /> 
                Taking
                <input type="checkbox" onchange="$('.shopping').toggle();
                    Bluebook.Calendar.loadCourses()"
                    name = "buckets[]" value="shopping" checked /> 
                Shopping
                <input type="checkbox" onchange="$('.avoiding').toggle();
                    Bluebook.Calendar.loadCourses()" 
                    name = "buckets[]" value="avoiding" /> 
                Avoiding
            </div>
            <%= submit_tag "Download Courses Shown to iCal and Outlook",
                  :class => "print blueButton" %>
            <div class="facebookButton" onclick="Bluebook.Calendar.publish()">
                <a class="link" href="" onclick="return false;" >
                  <%= image_tag "index/facebook.png", :class => "image", 
                        :width => 24 %>
                  <span class="text">Publish Schedule</span>
                  <div class="clear"></div>
                </a>
            </div>
        <% end %>
        <div class="clear"></div>
    </div>
    
    <div class="leftCal">
        <div class="times">
            <div class="hour"> 9 A.M. </div>
            <div class="hour"> 10 A.M. </div>
            <div class="hour"> 11 A.M. </div>
            <div class="hour"> Noon </div>
            <div class="hour"> 1 P.M. </div>
            <div class="hour"> 2 P.M. </div>
            <div class="hour"> 3 P.M. </div>
            <div class="hour"> 4 P.M. </div>
            <div class="hour"> 5 P.M. </div> 
            <div class="hour"> 6 P.M. </div>
            <div class="hour"> 7 P.M. </div>
            <div class="hour"> 8 P.M. </div>
            <div class="hour"> 9 P.M. </div>
        </div>
    </div>
    <div class="rightCal">
        <div class="days">
            <div class="day"> Monday </div>
            <div class="day" style="left: 150px"> Tuesday </div>
            <div class="day" style="left: 300px"> Wednesday </div>
            <div class="day" style="left: 450px"> Thursday </div>
            <div class="day" style="left: 600px; border-right: solid 1px;"> Friday </div>
        </div>
        <div class="clear"></div>
        <div class="calendar">
            <script> var t; </script>
            <% @courses.each do |course| %>
                <div class="course round <%= course[:bucket] %>"
                     onmouseover="t = setTimeout(
                        '$(\'#flyout<%= course[:id] %>\').show()', 
                        1000)"
                     onmouseout="clearTimeout(t); $('.flyout').hide()"
                     data-id="<%= course[:id] %>"
                     data-day="<%= course[:day] %>"
                     data-uid="<%= "#{course[:day]}#{course[:id]}" %>"
                     style="top: <%= course[:top] %>px; 
                        left: <%= course[:left] %>px;
                        color: <%= course[:color] %>;
                        background: <%= course[:background] %>;
                        height: <%= course[:height] %>px;">
                    <span class="black">
                        <span class="italic"><%= course[:listing] %>: 
                        <%= course[:title] %></span>
                        <span class="bold"><%= course[:room].blank? ? 
                            "No Location" : course[:room] %></span>
                    </span>
                </div>
                <%= render "users/calendar/flyout", :course => course %>
            <% end %>
            <script>Bluebook.Calendar.loadCourses()</script>
        </div>
    </div>
    <div class="clear"></div>
</div>
