<div class="flyout round drop_shadow" 
     id="friendFlyout<%= friend[:user].id %>">
    <div class="arrow">
        <%= image_tag "search/tooltips/arrow_right.png", :width => 20 %>
    </div>

    <div class="header" style='color: #00B945'>
        Taking
    </div>
    <% if friend[:taking_full].empty? %>
        <div class="listing">
            <%= friend[:user].name %> is not taking any classes
        </div>
    <% end %>
    <% friend[:taking_full].each do |course| %>
        <div style="margin-top: 5px">
            <a href="/search?utf8=%E2%9C%93&query=Enter+Search+Query...&course=<%= 
                      "#{course.department_abbr}+#{course.number}" %>" 
                  style="text-decoration: none;"
               class="listing draggable black" data-id="<%= course.id %>">
                <span class="number courseTitle">
                    <%= "#{course.department_abbr} #{course.number}" %>:
                </span>
                <%= course.title %>,
                <span class="professor"><%= course.professor %></span>
            </a>
        </div>
        <script>
            Bluebook.Search.courses.push(<%= to_JSON(course) %>);
        </script>
    <% end %>

    <div class="header" style='color: #FF9700'>
        Shopping
    </div>
    <% if friend[:shopping_full].empty? %>
        <div class="listing">
            <%= friend[:user].name %> is not shopping any classes
        </div>
    <% end %>
    <% friend[:shopping_full].each do |course| %>
        <div style="margin-top: 5px">
            <a href="/search?utf8=%E2%9C%93&query=Enter+Search+Query...&course=<%= 
                      "#{course.department_abbr}+#{course.number}" %>" 
                  style="text-decoration: none;"
                  class="listing draggable black" data-id="<%= course.id %>">
                <span class="number courseTitle">
                    <%= "#{course.department_abbr} #{course.number}" %>:
                </span>
                <%= course.title %>, 
                <span class="professor"><%= course.professor %></span>
            </a>
        </div>
        <script>
            Bluebook.Search.courses.push(<%= to_JSON(course) %>);
        </script>
    <% end %>

    <div class="header" style='color: red'>
        Avoiding
    </div>
    <% if friend[:avoiding_full].empty? %>
        <div class="listing">
            <%= friend[:user].name %> is not avoiding any classes
        </div>
    <% end %>
    <% friend[:avoiding_full].each do |course| %>
        <div style="margin-top: 5px">
            <a href="/search?utf8=%E2%9C%93&query=Enter+Search+Query...&course=<%= 
                      "#{course.department_abbr}+#{course.number}" %>" 
                  style="text-decoration: none;"
                  class="listing draggable black" data-id="<%= course.id %>">
                <span class="number courseTitle">
                    <%= "#{course.department_abbr} #{course.number}" %>:
                </span>
                <%= course.title %>,
                <span class="professor"><%= course.professor %></span>
            </a>
        </div>
        <script>
            Bluebook.Search.courses.push(<%= to_JSON(course) %>);
        </script>
    <% end %>
</div>
