<div class="courseResults">
    <% if @results.empty? %>
        <div class="noResults">
            No courses matched your search
        </div>
    <% end %>

    <% @results.each do |result| %>
        <div class="courseResult result round drop_shadow draggable" 
             data-id="<%= result.id %>"
             onmouseover="$('#courseFlyout<%= result.id %>').show()"
             onmouseout="$('#courseFlyout<%= result.id %>').hide()">

            <% if result.new or result.gut %>
                <div class="badge">
                    <% if result.gut %>
                        <div class="overlay round">Gut</div>
                    <% end %>
                    <% if result.new %>
                        <div class="overlay round">New</div>
                    <% end %>
                </div>
            <% end %>

            <span class="number">
                <%= "#{result.department_abbr} #{result.number}" %>
                (<%= result.section %>): 
            </span>
            <%= result.title %><%= result.starred ? "*" : "" %>,
            <span class="professor"><%= result.professor %></span>

            <br />

            <div class="addendum">
                <%= result.time_string %>
                <%= result.final_exam_time ? "Final exam" : "No final exam" %>
                <%= result.reading_period ? ", Meets during reading period" : "" %>
                <%= result.readings_in_translation ? 
                      ", Has readings in translation" : "" %>
                <br />

                <% skills = Array.new %>
                <% result.L1 ? skills << "L1" : "" %>
                <% result.L2 ? skills << "L2" : "" %>
                <% result.L3 ? skills << "L3" : "" %>
                <% result.L4 ? skills << "L4" : "" %>
                <% result.L5 ? skills << "L5" : "" %>
                <% result.QR ? skills << "QR" : "" %>
                <% result.WR ? skills << "WR" : "" %>
                <% result.Hu ? skills << "Hu" : "" %>
                <% result.Sc ? skills << "Sc" : "" %>
                <% result.So ? skills << "So" : "" %>
                <%= skills.join(", ") %>
            </div>

            <div class="description">
                <%= result.description %>
                <% if result.prerequisites %>
                    <div style="margin-top: 5px;">
                        Prerequisites: <%= result.prerequisites %>
                    </div>
                <% end %>
            </div>

            <%= link_to "Click Here for OCI Listing", 
                "http://students.yale.edu/oci/resultDetail.jsp?course=#{
                  result.oci_id}&term=201103", :class => "hover_under" %>

            <div class="flyout round drop_shadow" 
                 id="courseFlyout<%= result.id %>">
                <div class="arrow">
                    <%= image_tag "search/tooltips/arrow_right.png",
                          :width => 20 %>
                </div>

                <div class="taking">
                    <div class="header" style='color: #00B945'>
                        Friends Taking <%= "#{result.department_abbr} 
                          #{result.number}" %>
                    </div>       
                    <div class="noFriends listing">
                        None of your friends are taking this
                    </div>
                    <% (@takingMap[result.id] || []).each do |user| %>
                        <div class="courseFlyoutFriend listing"
                             data-fb-id="<%= user.facebook_id %>" >
                            <%= image_tag "https://graph.facebook.com/#{
                                  user.facebook_id}/picture", :width => 20 %>
                            <div class="text">
                                <%= user.name %>
                            </div>
                            <div class="clear"></div>
                        </div>
                    <% end %>
                </div>
                                         
                <div class="shopping">
                    <div class="header" style='color: #FF9700'>
                        Friends Shopping <%= "#{result.department_abbr} 
                          #{result.number}" %>
                    </div>
                    <div class="noFriends listing">
                        None of your friends are shopping this
                    </div>
                    <% (@shoppingMap[result.id] || []).each do |user| %>
                        <div class="courseFlyoutFriend listing"
                             data-fb-id="<%= user.facebook_id %>">
                            <%= image_tag "https://graph.facebook.com/#{
                                  user.facebook_id}/picture", :width => 20 %>
                            <div class="text">
                                <%= user.name %>
                            </div>
                            <div class="clear"></div>
                        </div>
                    <% end %>
                </div>
                          
                <div class="avoiding">
                    <div class="header" style='color: red'>
                        Friends Avoiding <%= "#{result.department_abbr} 
                          #{result.number}" %>
                    </div>
                    <div class="noFriends listing">
                        None of your friends are avoiding this
                    </div>
                    <% (@avoidingMap[result.id] || []).each do |user| %>
                        <div class="courseFlyoutFriend listing"
                             data-fb-id="<%= user.facebook_id %>">
                            <%= image_tag "https://graph.facebook.com/#{
                                  user.facebook_id}/picture", :width => 20 %>
                            <div class="text">
                                <%= user.name %>
                            </div>
                            <div class="clear"></div>
                        </div>
                    <% end %>
                </div>

                <%= text_area_tag "commentForm#{result.id}",
                      "Say Something About This Course...",
                      :class => "textInput textInputHint commentForm",
                      'data-course' => result.id,
                      :onfocus => "Bluebook.Search.clearForm(this, 
                        'Say Something About This Course...')",
                      :onblur => "Bluebook.Search.restoreForm(this, 
                        'Say Something About This Course...')",
                      :onkeydown => "return Bluebook.Search.commentKeydown(this);",
                      :onkeyup => "Bluebook.Search.commentKeyup(this)"  
                %>
                <% result.comments.each do |comment| %>
                    <div class="comment comment<%= comment[$COMMENT_FB_ID] %>"
                         data-fb-id="<%= comment[$COMMENT_FB_ID] %>" >
                        <div class="user">
                            <%= comment[$COMMENT_USER] %>
                        </div>
                        <div class="date">
                            <%= comment[$COMMENT_DATE].strftime("%l:%M %p, 
                                  %b %d") %>
                        </div>
                        <div class="clear"></div>

                        <div class="content">
                            <%= comment[$COMMENT_CONTENT] %>
                        </div>
                    </div>
                <% end %> 
            </div>
        </div>
        
        <script>
            Bluebook.Search.courses.push(<%= to_JSON(result) %>);
        </script>
    <% end %>
</div>
