<div class="courseResults">
    <% if @results.empty? %>
        <div class="noResults">
            No courses matched your search
        </div>
    <% end %>

    <% @results.each do |result| %>
        <div class="courseResult result round drop_shadow draggable" 
             data-id="<%= result.id %>">

            <% if result.new or result.gut %>
                <div class="badge">
                    <% if result.gut %>
                        <div class="overlay round">Gut</div>
                    <% end %>
                    <% if result.new %>
                        <div class="overlay round">New</div>
                    <% end %>
                </div>
            <% end %>

            <span class="number">
                <%= "#{result.department_abbr} #{result.number}" %>
                (<%= result.section %>): 
            </span>
            <%= result.title %><%= result.starred ? "*" : "" %>,
            <span class="professor"><%= result.professor %></span>

            <br />

            <div class="addendum">
                <%= result.time_string %>
                <%= result.final_exam_time ? "Final exam" : "No final exam" %>
                <%= result.reading_period ? ", Meets during reading period" : "" %>
                <br />

                <% skills = Array.new %>
                <% result.L1 ? skills << "L1" : "" %>
                <% result.L2 ? skills << "L2" : "" %>
                <% result.L3 ? skills << "L3" : "" %>
                <% result.L4 ? skills << "L4" : "" %>
                <% result.L5 ? skills << "L5" : "" %>
                <% result.QR ? skills << "QR" : "" %>
                <% result.WR ? skills << "WR" : "" %>
                <% result.Hu ? skills << "Hu" : "" %>
                <% result.Sc ? skills << "Sc" : "" %>
                <% result.So ? skills << "So" : "" %>
                <%= skills.join(", ") %>
            </div>

            <div class="description">
                <%= truncate result.description, :length => 250 %>
            </div>
        </div>
        
        <script>
            Bluebook.Search.courses.push(<%= to_JSON(result) %>);
        </script>
    <% end %>
</div>
