<div class="courseResults">
    <% if @results.empty? %>
        <div class="noResults">
            No courses matched your search
        </div>
    <% end %>

    <% @results.each do |result| %>
        <div class="courseResult result round drop_shadow
              <%= result.cancelled ? "cancelled": "draggable" %>" 
             data-id="<%= result.id %>"
             onmouseover="$('#courseFlyout<%= result.id %>').show()"
             onmouseout="$('#courseFlyout<%= result.id %>').hide()">

            <% if result.new or result.gut %>
                <div class="badge">
                    <% if result.gut %>
                        <div class="overlay round">Gut</div>
                    <% end %>
                    <% if result.new %>
                        <div class="overlay round">New</div>
                    <% end %>
                </div>
            <% end %>

            <% if result.cancelled %>
                <span class="notice"> [CANCELLED] </span>
            <% end %>
            <span class="number">
                <%= "#{result.department_abbr} #{result.number}" %>
                (<%= result.section %>): 
            </span>
            <%= result.title %><%= result.starred ? "*" : "" %>,
            <span class="professor"><%= result.professor %></span>

            <br />

            <div class="addendum">
                <%= result.time_string %>
                <%= result.final_exam_time ? 
                      "Final Exam (#{result.final_exam_time[
                        result.final_exam_time.index(")") + 2..
                        result.final_exam_time.length]})" : "No final exam" %>
                <%= result.reading_period ? ", Meets during reading period" : "" %>
                <%= result.readings_in_translation ? 
                      ", Has readings in translation" : "" %>
                <br />

                <% skills = Array.new %>
                <% result.L1 ? skills << "L1" : "" %>
                <% result.L2 ? skills << "L2" : "" %>
                <% result.L3 ? skills << "L3" : "" %>
                <% result.L4 ? skills << "L4" : "" %>
                <% result.L5 ? skills << "L5" : "" %>
                <% result.QR ? skills << "QR" : "" %>
                <% result.WR ? skills << "WR" : "" %>
                <% result.Hu ? skills << "Hu" : "" %>
                <% result.Sc ? skills << "Sc" : "" %>
                <% result.So ? skills << "So" : "" %>
                <%= skills.join(", ") %>
            </div>

            <div class="description">
                <%= result.description %>
                <% if result.prerequisites %>
                    <div style="margin-top: 5px;">
                        Prerequisites: <%= result.prerequisites %>
                    </div>
                <% end %>
            </div>

            <%= link_to "Is this listing incorrect, this course a gut, or this
                  course new? Click Here", 
                  "mailto:contact@thefriendlybluebook.com?subject=Need to Update Listing&body=Check out #{result.department_abbr} #{result.number}.%0A%0AMy comments:%0A%0A", 
                  :class => "hover_under", 
                  :style => "float: left; padding-top: 7px" %>

            <%= link_to "Click Here for OCI Listing", 
                "http://students.yale.edu/oci/resultDetail.jsp?course=#{
                  result.oci_id}&term=201103", :class => "hover_under",
                  :target => "_blank", 
                  :style => "float: right; padding-top: 7px" %>
            <div class="clear"></div>

            <%= render 'search/results/course/flyout', :result => result %>
        </div>
        
        <script>
            Bluebook.Search.courses.push(<%= to_JSON(result) %>);
        </script>
    <% end %>
</div>
