<% if preventNoResults %>
    <div class="loadingResults">
        Loading your friends' information, please wait...<br />
        <%= image_tag "search/loading.gif" %>
    </div>
<% end %>

<div class="friendResults">
    <% if not preventNoResults %>
        <div class="noResults">
            None of your friends matched your search
        </div>
        <div class="loadingResults">
            Loading, please do not reload the page...<br />
            <%= image_tag "search/loading.gif" %>
        </div>
    <% end %>

    <% j = 0 %>
    <% @friends.each do |friend| %>
        <% j = j + 1 %>
        <div class="friendResult result round drop_shadow" 
             data-fb-id="<%= friend[:user].facebook_id %>"
             onmouseover="$('#friendFlyout<%= friend[:user].id %>').show()"
             onmouseout="$('#friendFlyout<%= friend[:user].id %>').hide()"
             <%= j % 2 == 0 ? "style='margin-right: 0px'": "" %>>
            <div class="image grid_2 alpha">
                <%= image_tag "https://graph.facebook.com/#{
                      friend[:user].facebook_id}/picture" %>
            </div>
            <div class="information grid_4 omega">
                <span class="name">
                    <%= friend[:user].name %>
                </span><br />
                <% if friend[:empty] %>
                    <span style="font-style: italic"> 
                        No courses available for this friend 
                    </span>
                <% end %>
                <%= raw((friend[:taking].map{ |result| 
                      "<span style='color: #00B945'>
                          #{result.department_abbr} #{result.number}
                       </span>"} +
                    friend[:shopping].map{ |result| 
                      "<span style='color: #FF9700'>
                          #{result.department_abbr} #{result.number}
                       </span>"} + 
                    friend[:avoiding].map{ |result| 
                      "<span style='color: red'>
                          #{result.department_abbr} #{result.number}
                       </span>"}).join(',')) %>
            </div>

            <div class="flyout round drop_shadow" 
                 id="friendFlyout<%= friend[:user].id %>">
                <div class="arrow">
                    <%= image_tag "search/tooltips/arrow_right.png",
                          :width => 20 %>
                </div>

                <div class="header" style='color: #00B945'>
                    Taking
                </div>
                <% if friend[:taking_full].empty? %>
                    <div class="listing">
                        <%= friend[:user].name %> is not taking any classes
                    </div>
                <% end %>
                <% friend[:taking_full].each do |course| %>
                    <div class="listing">
                        <span class="courseTitle">
                            <%= "#{course.department_abbr} #{course.number}" %>:
                        </span>
                        <%= course.title %>,
                        <span class="professor"><%= course.professor %></span>
                    </div>
                <% end %>

                <div class="header" style='color: #FF9700'>
                    Shopping
                </div>
                <% if friend[:shopping_full].empty? %>
                    <div class="listing">
                        <%= friend[:user].name %> is not shopping any classes
                    </div>
                <% end %>
                <% friend[:shopping_full].each do |course| %>
                    <div class="listing">
                        <span class="courseTitle">
                            <%= "#{course.department_abbr} #{course.number}" %>:
                        </span>
                        <%= course.title %>, 
                        <span class="professor"><%= course.professor %></span>
                    </div>
                <% end %>

                <div class="header" style='color: red'>
                    Avoiding
                </div>
                <% if friend[:avoiding_full].empty? %>
                    <div class="listing">
                        <%= friend[:user].name %> is not avoiding any classes
                    </div>
                <% end %>
                <% friend[:avoiding_full].each do |course| %>
                    <div class="listing">
                        <span class="courseTitle">
                            <%= "#{course.department_abbr} #{course.number}" %>:
                        </span>
                        <%= course.title %>,
                        <span class="professor"><%= course.professor %></span>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
