<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= title %></title>
  <%= stylesheets %>
  <%= javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '102218646546092', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
  FB.api('/me', function(response) {
      if (location.pathname === "/" && response.email.indexOf("@yale.edu") === 
            response.email.length - 9) {
          window.location.assign("/search");
      } else if (location.pathname === "/search" && 
          response.email.indexOf("@yale.edu") !== response.email.length - 9) {
          window.location.assign("/");
      }
  });
</script>

<div id="mainContents">
    <%= yield %>
</div>
    
</body>
</html>
