<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheets %>
  <%= javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="mainContents">
    <%= yield %>
</div>

</body>
</html>
